{% load staticfiles %}
<html>
    <head>
        <title>Contact Manager</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body class="container">
        <div class="page-header">
            <h2><a href="/">Contact Manager</a></h2>
        </div>
            <div class="row">
                <div class="col-md-8">
                	{% block content %}
            		{% endblock %}
                </div>
            </div>
    </body>
</html>